In [1]:
pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp37-cp37m-win_amd64.whl (2.7 MB)
     ---------------------------------------- 2.7/2.7 MB 4.4 MB/s eta 0:00:00
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: six>=1.9 in c:\users\bhawe\appdata\local\packages\pythonsoftwarefoundation.python.3.7_qbz5n2kfra8p0\localcache\local-packages\python37\site-packages (from cassandra-driver) (1.16.0)
Collecting click
  Using cached click-8.1.3-py3-none-any.whl (96 kB)
Requirement already satisfied: colorama in c:\users\bhawe\appdata\local\packages\pythonsoftwarefoundation.python.3.7_qbz5n2kfra8p0\localcache\local-packages\python37\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.6)
Requirement already satisfied: importlib-metadata in c:\users\bhawe\appdata\local\packages\pythonsoftwarefoundation.python.3.7_qbz5n2kfra8p0\localcache\local-packages\python37\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (6.1.0)
Requirement already satisfied: zipp>=0.5 in c:\users\bhawe\appdata\local\packages\pythonsoftwarefoundation.python.3.7_qbz5n2kfra8p0\localcache\local-packages\python37\site-packages (from importlib-metadata->click->geomet<0.3,>=0.1->cassandra-driver) (3.15.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\bhawe\appdata\local\packages\pythonsoftwarefoundation.python.3.7_qbz5n2kfra8p0\localcache\local-packages\python37\site-packages (from importlib-metadata->click->geomet<0.3,>=0.1->cassandra-driver) (4.5.0)
Installing collected packages: click, geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 click-8.1.3 geomet-0.2.1.post1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import cassandra

In [3]:
print (cassandra.__version__)

3.25.0

In [10]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
  'secure_connect_bundle': 'C:/Users/bhawe/Downloads/secure-connect-cassandra-practice.zip'
}

auth_provider = PlainTextAuthProvider('TDUQvQLUJgKxZjEhukpmEtDt', '5NNk3QZ.x460-1m29k98IefY_cfFlpR.Mp99.bt4Jft4eg8Pyy7SBmWNn4zo1zdDRQCnvXcK1tMYPD5adP+d7fAg_AZ83cifBnDZlo.cA7_5R,Zeb8rYqQyeMCZoj_6l')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

# Querying the internal metadata of the cassandra table and printing the first row
row = session.execute("select release_version from system.local").one()

if row:
  print(row[0])
else:
  print("An error occurred.")

4.0.0.6816

In [35]:
# command to use keyspace

try:
    query='use employee_keyspace'
    print ("inside the employee_keyspace")
    
#     similar to use database in mysql


except Exception as err:
    print ("Exception Occurred while using Keyspace: ",err)

inside the employee_keyspace

In [25]:
# command to create a table inside the keyspace
try:
    query="""
    create table employee_keyspace.employee(
    emp_id int,
    emp_name varchar,
    emp_salary int,
    emp_dept varchar,
    emp_email varchar,
    emp_phone varchar,
    primary key (emp_id,emp_dept)
    )
    """
#     emp_id is the parition key emp_dept is the clustering key
    
    session.execute(query)
    print ("Table created inside keyspace")

except Exception as err:
    print ("Exception occurred while creating the table: ",err)

Table created inside keyspace

In [22]:
# alter the table in cassandra to drop a  column

try:
    query='''alter table employee_keyspace.employee drop emp_email'''
    session.execute(query)
    print("Column dropped successfully!!")
    
except Exception as err:
    print ("Exception Occurred while dropping the column", err)

Column dropped successfully!!

In [23]:
#alter the table in cassandra to add a new column
try:
    query='''alter table employee_keyspace.employee add emp_email text'''
    session.execute(query)
    print("Column added successfully!!")
    
except Exception as err:
    print ("Exception Occurred while adding the column", err)

Column added successfully!!

In [24]:
# drop the table in cassandra
try:
    query='''drop table employee_keyspace.employee'''
    session.execute(query)
    print("Table dropped successfully!!")
    
except Exception as err:
    print ("Exception Occurred while dropping the table", err)

Table dropped successfully!!

In [26]:
# insert the data into cassandra table
try:
    query = "insert into employee_keyspace.employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(1, 'Shashank', 10000, 'Software', 'abc.gmail.com','+91 768467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [28]:
# Insert data into cassandra table
try:
    query = "insert into employee_keyspace.employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(2, 'Rahul', 20000, 'IT', 'xyx.gmail.com','+91 908467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [30]:
# Insert data into cassandra table
try:
    query = "insert into employee_keyspace.employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(3, 'Sunny', 22000, 'HR', 'klm.gmail.com','+91 800067474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [31]:
# Insert data into cassandra table
try:
    query = "insert into employee_keyspace.employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(4, 'Vishal', 30000, 'Software', 'mno.gmail.com','+91 600467474')"
    session.execute(query)
    print("Record inserted successfully !!")
except Exception as err:
    print("Exception Occured while inserting the data into table: ",err)

Record inserted successfully !!

In [37]:
try:
    query = "select * from employee_keyspace.employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)
Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)
Row(emp_id=4, emp_dept='Software', emp_email='mno.gmail.com', emp_name='Vishal', emp_phone='+91 600467474', emp_salary=30000)
Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [38]:
# Select query for specific columns in cassandra table
try:
    query = "select emp_id, emp_name from employee_keyspace.employee"
    result = session.execute(query)
    for row in result:
        print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_name='Shashank')
Row(emp_id=2, emp_name='Rahul')
Row(emp_id=4, emp_name='Vishal')
Row(emp_id=3, emp_name='Sunny')

In [55]:
# Select query for specific columns in cassandra table and how to access from Row object
try:
    query = "select emp_id, emp_name from employee_keyspace.employee"
    result = session.execute(query)
    row=result.one()
    print (row)

    # option 1
    for row in result:
        print (row)
        print("Emp ID : ", row[0])
        print("Emp Name : ", row[1])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_name='Shashank')
Row(emp_id=1, emp_name='Shashank')
Emp ID :  1
Emp Name :  Shashank
Row(emp_id=2, emp_name='Rahul')
Emp ID :  2
Emp Name :  Rahul
Row(emp_id=4, emp_name='Vishal')
Emp ID :  4
Emp Name :  Vishal
Row(emp_id=3, emp_name='Sunny')
Emp ID :  3
Emp Name :  Sunny

In [42]:
# Select query for specific columns in cassandra table and how to access from Row object
# Doesn't work
try:
    query = "select emp_id, emp_name from employee_keyspace.employee"
    result = session.execute(query)
    # option 2
    for row in result:
        row = dict(row)
        print(row)
        print("Emp ID : ", row['emp_id'])
        print("Emp Name : ", row['emp_name'])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Exception Occured while selecting the data from table:  cannot convert dictionary update sequence element #0 to a sequence

In [48]:
# Write a query to get total count of employees
try:
    query = "select count(*) from employee_keyspace.employee"
    result = session.execute(query)
    row = result.one()
    print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(count=4)
4

In [56]:
# Write a query to find maximum salary from employee table
try:
    query = "select max(emp_salary) as max_salary from employee_keyspace.employee"
    result = session.execute(query)
    row = result.one()
    #print(row)
    print(row[0])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

30000

In [57]:
# Write a query to filter data from cassandra table or how to use where clause
# Rules for where clause - It can be used effectively with high performance for given below type of columns
# 1.) Partition Key (Single or Composite)
                   #OR
# 2.) if Cluster column  used in where clause then it should be with Partition Key
                   #OR
# 3.) A column on which we have applied the index
                   #OR
# 4.) A column which is not part of partition key or index column or clustering column then we can use where clause but we have to
# use keyword ALLOW FILTERING - it will be a super slow performance when data volume is very high

try:
    query = "select * from employee_keyspace.employee where emp_name='Shashank' ALLOW FILTERING"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [58]:
# where clause for Partition key only or Rule no -1

try:
    query = "select * from employee_keyspace.employee where emp_id=2"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)

In [59]:
# where clause for Clustering key only or Rule no - 2 

try:
    query = "select * from employee_keyspace.employee where emp_dept='Software' and emp_id=1"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [ ]:
# We have another composite partition key

priamry key ( (employeeid, fname) , dept )

select * from employee where employeeid = 'x' and dept = 'software' and fname = 'shashank'  # Wrong query

select * from employee where dept = 'software' and employeeid = 'x' and fname = 'shashank'   # Correct query

In [61]:
# Group by in cassandra  -  Allowed for all columns which are part of Primary Key
# Follow given below rules
# Rule - 1 : Use only partition key in the group by
              #OR
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, sum(emp_salary) as sum_salary from employee_keyspace.employee group by emp_id"
    result = session.execute(query)
    row = result.one()
    for row in result:
        print("Emp ID : ", row[0])
        print("Sum Of Salary : ", row[1])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Emp ID :  1
Sum Of Salary :  10000
Emp ID :  2
Sum Of Salary :  20000
Emp ID :  4
Sum Of Salary :  30000
Emp ID :  3
Sum Of Salary :  22000

In [62]:
# Group by in cassandra 
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, emp_dept, sum(emp_salary) as sum_salary from employee_keyspace.employee group by emp_id, emp_dept"
    result = session.execute(query)
    row = result.one()
    for row in result:
        print("Emp ID : ", row[0])
        print("Emp Dept : ", row[1])
        print("Sum Of Salary : ", row[2])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Emp ID :  1
Emp Dept :  Software
Sum Of Salary :  10000
Emp ID :  2
Emp Dept :  IT
Sum Of Salary :  20000
Emp ID :  4
Emp Dept :  Software
Sum Of Salary :  30000
Emp ID :  3
Emp Dept :  HR
Sum Of Salary :  22000

In [ ]:
Primary Key (PK, CK1, CK2)

Group By PK, CK1, CK2 ??? Pass

Group By PK, CK2, CK1 ??? Fail